@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');

:root{
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-green-50: #3b9938d7;
    --color-green-100: #2b6929d7;
    --color-green-200: #284227d7;

    --color-gradient: linear-gradient(90deg, var(--color-green-50), var(--color-green-100), var(--color-green-200))
} 

* {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 40px 0px;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form {
    width: 100%;
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 15px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light 0.3s ease-in-out;
    max-width: 500px;
}

.form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_header h1 {
    font-size: 40px;
    position: relative;
}

.form_header h1::before {
    position: absolute;
    content: '';
    width: 30%;
    background-color: var(--color-green-50);
    height: 3px;
    bottom: 9px;
    border-radius: 5px;
}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

.inputs_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box {
   display: block;
   width: 100%;
   max-width: 300px;
}

.input-box label {
    font-size: 15px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor:text;
    border-bottom: 1px solid var(--color-green-50);
 }

 .input-field input {
    border: none;
    background-color: transparent;
    /* width: 260px; */
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus{
    outline: none;
}

.checkbox_register_email {
    font-size: 15px;
    color: var(--color-dark-50);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--color-green-50)
}

.checkbox_register_agree {
    font-size: 15px;
    color: var(--color-dark-50);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--color-green-50) 
}

#register_button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

a {
    color: var(--color-green-50);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--color-green-200);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: var(--color-dark-100);
    background-color: transparent;
    text-decoration: none;
}

#register_button:hover {
    transform: scale(1.05);
}


.dark#login_form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }

    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }

    100% {
        background-color: var(--color-dark-100);
    }
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}